.cell-header {
    position: fixed;
    left: 0px;
    top: 0px;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    background-color: white;
    display: grid;
    background-color: rgba(128, 128, 128, 0.5);
}

.cell-header-input {
    width: 80%;
}