.cell-wrapper {
    border-bottom: 1px solid black;
    z-index: 1;
}

.cell-item {
    padding: 0.1em;
    height: 100%;
    width: 100%;
    font-size: 0.8em;
    z-index: 1;
    text-align: start;
    display: flex;
    align-items: center;
}

.cell-first {
    
}

.c-title {
    position: fixed;
}

.c-number, .c-boolean {
    justify-content: center;
}

.b-positive {
    color: rgb(11, 90, 11);
    background-color: rgba(0, 128, 0, 0.356);
}

.b-negative {
    color: rgb(156, 13, 13);
    background-color: rgba(128, 0, 0, 0.356);
}

.c-job {
    text-decoration: underline;
}