.grid {
    z-index: 2;
}

.grid-wrapper {
    z-index: 3;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 0.4em;
}

.grid-csv-button {
    padding-top: 0.5em;
    height: 2em;
    width: 90%;
    background-color: white;
    text-transform: capitalize;
    border: none;
    border-bottom: 1px solid black;
}